<h3>Graph</h3>

<div class="ui-g-12">

  <!-- <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-12 box-chart">
    <div id="chartdivE" style="width: 100%; height: 400px"></div>
  </div> -->

  <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-12 box-chart">
    <div id="chartdivD" style="width: 100%; height: 400px"></div>
  </div>

</div>

<div class="ui-g-12">

  <div class="ui-g-6 ui-sm-12 ui-md-12 ui-lg-6 ui-xl-6 box-chart">
    <div id="chartdivA" style="width: 100%; height: 400px"></div>
  </div>

  <div class="ui-g-6 ui-sm-12 ui-md-12 ui-lg-6 ui-xl-6 box-chart">
    <div id="chartdivB" style="width: 100%; height: 400px"></div>
  </div>

</div>

<div class="ui-g-12">

  <!-- <div class="ui-g-6 ui-sm-12 ui-md-12 ui-lg-6 ui-xl-6 box-chart">
    <div id="chartdivC" style="width: 100%; height: 400px"></div>
  </div> -->

  <div class="ui-g-6 ui-sm-12 ui-md-12 ui-lg-6 ui-xl-6 box-chart">
    <div id="chartdivF" style="width: 100%; height: 400px"></div>
  </div>
</div>